/* site wide */

body {
  /*background-image: url("../images/classy_fabric.png");*/
  /*background-color: rgb(40,41,43);*/
  background-color: #FFFFFF;
  /*color: rgb(112, 168, 60);*/
  color: #000000;
  font-family: 'Open Sans', sans-serif;
}

a, a:hover, a:focus {
  color: #000000;
  /*color: rgb(112, 168, 60);*/
}

/* header */

header {
  margin-bottom: 50px;
}

header a:hover, header a:focus {
  text-decoration: none;
}

.fontawesome-pad-left {
  padding-left: 15px;
}

.top-buffer {
  margin-top: 20px;
}

/* footer */

footer {
  margin-top: 50px;
}

/* home page */

.big-icon {
  font-size: 192px;
}

.color-fade {
  /*color: rgb(112, 168, 60);*/
  transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -webkit-transition: color 0.5s ease;
}

.color-fade:hover {
  /*color: rgb(87, 143, 35);*/
  color: #666666;
  /*color: rgb(87, 143, 35);*/
}

/* portfolio page*/

.project-fade {
  transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
}

.project-fade:hover {
  opacity: 0.7;
}

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #000000;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

/* cv page*/

.i-padding-right {
  padding-right: 5px;
}

/* contact page */

.form-control:focus {
  border-color: #000000;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0,0,0,.6);
}

/* printable cv */

@media print {
  a[href]:after {
    content: none !important;
  }

  .social-links {
    display: none;
  }

  footer {
    display: none;
  }
}
