div.row
  div.col-md-4.col-md-offset-4.align-center
    a(href="/") Accueil
    | &nbsp - &nbsp
    a(href="/about") À propos
    | &nbsp - &nbsp
    a(href="/contact") Contact
    p Crée par Rémy Peru
