div.row.bottom-buffer
  div.col-md-4.col-md-offset-4.align-center
    h1 Rémy Peru
    p Développeur Web
  div.col-md-2.align-center.top-buffer
    a(href="https://fr.linkedin.com/in/remyperu"): i.fa.fa-linkedin.fa-3x
    a(href="https://twitter.com/remy_peru"): i.fa.fa-twitter.fa-3x.fontawesome-pad-left
    a(href="https://github.com/kilbiller"): i.fa.fa-github.fa-3x.fontawesome-pad-left
