header.row
  div.col-md-4.col-md-offset-4.text-center
    a(href="/"): h1 Rémy Peru
    p Développeur Web
  div.col-md-4.text-center.top-buffer.social-links
    a(href="https://fr.linkedin.com/in/remyperu"): i.fa.fa-linkedin.fa-3x.color-fade
    a(href="https://twitter.com/remy_peru"): i.fa.fa-twitter.fa-3x.fontawesome-pad-left.color-fade
    a(href="https://github.com/kilbiller"): i.fa.fa-github.fa-3x.fontawesome-pad-left.color-fade
