extends layout

block content
  section.row
    div.col-md-8.col-md-offset-2.text-justified
      p Bonjour a tous !
      p Je m'appelle Rémy Peru, j'ai 23 ans et je suis actuellement étudiant en 1ère année de Master Informatique (Aigle), un master orienté développement web. J'aime le web, ses technos et surtout son accessibilité qui permet de toucher le plus grand monde.
      p Enthousiaste de nouvelles technologies, j'aime en particulier utiliser Javascript et NodeJS pour développer autant des Back-ends que des Front ends.
      p Un exemple de mon process de développement typique : J'utilise Trello pour la gestion de projet, Git pour le controle des sources, NodeJS et Express pour développer une API Rest et Angular ou ReactJS côté client pour les sites monopages. J'utilise aussi Sass pour m'aider à designer des sites web responsive ainsi que Gulp qui me facilite la vie au quotidien en me permettant d'automatiser la pluparts des tâches répétitives dans le développement web. Enfin Mocha + Chai me permettent de créer les tests unitaire.
