extends layout

block content
  div.row
    div.col-md-8.col-md-offset-2.text-justified
      p Bonjour a tous !
      p Je m'appelle Rémy Peru, j'ai 23 ans et je suis actuellement étudiant en 1ère année de Master Informatique (Aigle), un master orienté développement web.
      p J'aime autant développper des Back-ends que des Front ends.
      p Je suis de près les nouvelles technologies et j'aime en particulier utiliser Javascript et NodeJS.
      p Mon process de développement est généralement comme ceci :
      p J'utilise Trello pour la gestion de projet
      p Git pour controller les sources
      p NodeJS et Express pour écrire des API Rest en javascript côté serveur
      p Angular côté client pour les sites monopages
      p Bootstrap + Less pour le design de sites web responsive qui s'adaptent à tout types d'écrans (Ordinateur de bureau, Tablettes, et smartphones).
      p Mocha + Chai pour le testing unitaire
      p Karma pour tester dans multiples navigateurs et pour le E2E testing (test de bout à bout).
      p Istambul pour détecter le code coverage des tests.
      p Des VPS sur Digital Ocean pour héberger les sites.
