extends layout

block content
  section.row
    div.col-md-8.col-md-offset-2.text-justified
      p Bonjour a tous !
      p Je m'appelle Rémy Peru, j'ai 23 ans et je suis actuellement étudiant en 1ère année de Master Informatique (Aigle), un master orienté développement web. J'aime le web, ses technos et surtout son accessibilité qui permet de toucher le plus grand monde.
      p Enthousiaste de nouvelles technologies, j'aime en particulier utiliser Javascript et NodeJS pour développer autant des Back-ends que des Front ends.
      p Exemple de développement type : Trello pour la gestion de projet, Git pour le controle des sources, NodeJS et Express pour écrire des API Rest, Angular ou ReactJS côté client pour les sites monopages, Sass pour le design de sites web responsive qui s'adaptent à tout types d'écrans. Mocha + Chai pour le testing unitaire. Des VPS sur Digital Ocean pour héberger les sites.
