extends layout

block content
  section.row
    div.col-md-8.col-md-offset-2.text-justified
      if sucess
        div(role="alert").alert.alert-success.alert-dismissible
          p= sucess
      if error
        div(role="alert").alert.alert-danger.alert-dismissible
          p= error
      p Vous pouvez me joindre directement en remplissant ce formulaire de contact ou en m'envoyant un mail à 
        a(href="mailto:peru.remy@gmail.com") peru.remy@gmail.com
      form(action="" method="post")
        input(type="hidden" name="_csrf" value=_csrf)
        div.form-group
          label(for="email").sr-only Adresse email
          input(type="email" id="email" placeholder="Votre email" name="email" required).form-control
        div.form-group
          label(for="nom").sr-only Nom
          input(type="text" id="nom" placeholder="Votre nom" name="nom" required).form-control
        div.form-group
          textarea.form-control(rows="10" placeholder="Bonjour," name="message" required)
        button(type="submit").btn.btn-default Envoyer
