extends layout

block content
  section
    div.row
      div.col-md-4.col-sm-6.col-xs-6.col-md-offset-2
        span Peru Rémy
        br
        span 23 ans
        br
        | Tel: 
        a(href="callto:0649423335") 06 49 42 33 35
        br
        i.fa.fa-envelope.hidden-xs.i-padding-right
        a(href="mailto:peru.remy@gmail.com") peru.remy@gmail.com
      div.col-md-4.col-sm-6.col-xs-6.text-right
        span 119 Cour Alfred Wegener
        br
        span Bat B Appt 121
        br
        span 34090 Montpellier
    div.row
      div.col-md-8.col-md-offset-2
        h3 Formation
        dl.dl-horizontal
          dt 2013 - Aujourd'hui
          dd Master AIGLE à l'université des sciences de Montpellier (UM2).
        dl.dl-horizontal
          dt 2012 - 2013
          dd Licence Informatique à l'université des sciences de Montpellier (UM2).
        dl.dl-horizontal
          dt 2010 - 2012
          dd DUT Informatique à l'IUT de Provence (site d'Arles).
    div.row
      div.col-md-8.col-sm-12.col-xs-12.col-md-offset-2
        h3 Expérience
        dl.dl-horizontal
          dt Avril 2014 - Juin 2014
          dd
            span Développeur Javacript Mobile
            br
            span CIRAD
        dl.dl-horizontal
          dt Avril 2012 - Juin 2012
          dd
            span Développeur et Intégrateur Web
            br
            span Mairie d'Arles
    div.row
      div.col-md-8.col-md-offset-2
        h3 Compétences
        dl
          dt Languages de programmation
          dd: ul
            li HTML5 / CSS3
            li Javascript
            li PHP
            li SQL / NoSQL
            li C#
      div.col-md-4.col-sm-6.col-xs-6.col-md-offset-2
        dl
          dt Front-end
          dd: ul
            li ReactJS
            li Angular
            li Jquery
      div.col-md-4.col-sm-6.col-xs-6
        dl
          dt Back-end
          dd: ul
            li Node.JS
            li Express JS
            li MongoDB
            li SQL (Postgres, MySQL, Oracle)
            li PhoneGap / Cordova
            li Symfony 2
            
    div.row
      div.col-md-8.col-md-offset-2
        h3 Centres d’intérêt
        p Cinéma, musique, séries TV, nouvelles technologies.
    div.row
      div.col-md-8.col-md-offset-4
        a(href="/CV.pdf") Télécharger le CV au format PDF
