extends layout

block content
  main.row
    div.col-md-8.col-md-offset-2
      p Peru Rémy
      p 23 ans
      p 119 Cour Alfred Wegener, Bat B Appt 121
      p 34090 Montpellier
      i.fa.fa-mobile
      | &nbsp 06 49 42 33 35
      br
      i.fa.fa-envelope
      | &nbsp
      a(href="mailto:peru.remy@gmail.com") peru.remy@gmail.com
      p 2 colonnes aussi
      h3 Formation
      dl.dl-horizontal
        dt 2013 - Aujourd'hui
        dd Master AIGLE à l'université des sciences de Montpellier (UM2).
      dl.dl-horizontal
        dt 2012 - 2013
        dd Licence Informatique à l'université des sciences de Montpellier (UM2).
      dl.dl-horizontal
        dt 2010 - 2012
        dd DUT Informatique à l'IUT de Provence (site d'Arles).
      h3 Expérience
      dl.dl-horizontal
        dt Avril 2014 - Juin 2014
        dd
          p Développeur Javacript Mobile
          p CIRAD
        dt Avril 2012 - Juin 2012
        dd
          p Développeur et Intégrateur Web
          p Mairie d'Arles
      h3 Compétences
      p 2 colonnes ?
      h3 Centres d’intérêt
      p Cinéma, musique, séries TV, nouvelles technologies.
