extends layout

block content
  section
    div.row
      div.col-md-4.col-sm-6.col-xs-6.col-md-offset-2
        span Peru Rémy
        br
        span 23 ans
        br
        | Tel: 
        a(href="callto:0649423335") 06 49 42 33 35
        br
        i.fa.fa-envelope.hidden-xs.i-padding-right
        a(href="mailto:peru.remy@gmail.com") peru.remy@gmail.com
      div.col-md-4.col-sm-6.col-xs-6.text-right
        span 119 Cour Alfred Wegener
        br
        span Bat B Appt 121
        br
        span 34090 Montpellier
    div.row
      div.col-md-8.col-md-offset-2
        h3 Formation
        dl.dl-horizontal
          dt 2013 - Aujourd'hui
          dd Master AIGLE à l'université des sciences de Montpellier (UM2).
        dl.dl-horizontal
          dt 2012 - 2013
          dd Licence Informatique à l'université des sciences de Montpellier (UM2).
        dl.dl-horizontal
          dt 2010 - 2012
          dd DUT Informatique à l'IUT de Provence (site d'Arles).
    div.row
      div.col-md-8.col-sm-12.col-xs-12.col-md-offset-2
        h3 Expérience
        dl.dl-horizontal
          dt Avril 2014 - Juin 2014
          dd
            span Développeur Javacript Mobile
            br
            span CIRAD
        dl.dl-horizontal
          dt Avril 2012 - Juin 2012
          dd
            span Développeur et Intégrateur Web
            br
            span Mairie d'Arles
    div.row
      div.col-md-8.col-md-offset-2
        h3 Compétences
      div.col-md-4.col-sm-6.col-xs-6.col-md-offset-2
        p Front-end
        ul
          li HTML5 / CSS3
          li Javacript
          li Jquery
          li Angular
      div.col-md-4.col-sm-6.col-xs-6
        p Back-end
        ul
          li Node.JS
          li Symfony 2
          li Express JS
          li SQL / NoSQL
          li PhoneGap / Cordova
    div.row
      div.col-md-8.col-md-offset-2
        h3 Centres d’intérêt
        p Cinéma, musique, séries TV, nouvelles technologies.
