extends layout

block content
  main.row
    div.col-md-4.text-center
      a(href="/portfolio")
        i.fa.fa-suitcase.big-icon.color-fade
      h2 Portfolio
    div.col-md-4.text-center
      a(href="/cv")
        i.fa.fa-graduation-cap.big-icon.color-fade
      h2 CV
    div.col-md-4.text-center
      a(href="/blog")
        i.fa.fa-comments.big-icon.color-fade
      h2 Blog
