extends layout

block content
  section.row
    div.col-md-4.text-center
      a(href="/portfolio")
        i.fa.fa-suitcase.big-icon.fade-effect
      h2 Portfolio
    div.col-md-4.text-center
      a(href="/cv")
        i.fa.fa-graduation-cap.big-icon.fade-effect
      h2 CV
    div.col-md-4.text-center
      a(href="#")
        i.fa.fa-comments.big-icon.fade-effect
      h2 Blog
