extends layout

block content
  main.row
    div.col-md-4.align-center
      a(href="/portfolio")
        i.fa.fa-suitcase.big-icon
        h2 Portfolio
    div.col-md-4.align-center
      a(href="/cv")
        i.fa.fa-graduation-cap.big-icon
        h2 CV
    div.col-md-4.align-center
      a(href="/blog")
        i.fa.fa-comments.big-icon
        h2 Blog
