extends layout

block content
  section.row
    article.col-md-4.text-center
      a(href="/portfolio/diagarchi")
        img(src="http://placehold.it/350x350").img-responsive.center-block
      h3
        a(href="/portfolio/diagarchi") DiagArchi
        | &nbsp
        small 2014
      p.text-justify Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper arcu lectus, sit amet vulputate tortor vestibulum et. Nunc auctor semper consequat. Ut placerat sagittis erat, at commodo nisi molestie vitae. Fusce at diam non ligula mollis condimentum in eget enim. Nam at mattis ante. Donec non sem sagittis, consequat est ut, finibus turpis. Nulla dapibus lacus quis felis congue, id hendrerit ipsum sagittis. Nullam consectetur leo felis, feugiat consequat arcu mattis eu. Pellentesque commodo justo vel neque aliquet, a faucibus lacus egestas.
      p: a(href="/portfolio/diagarchi") En savoir plus
    article.col-md-4.text-center
      a(href="/portfolio/thesaurus")
        img(src="http://placehold.it/350x350").img-responsive.center-block
      h3
        a(href="/portfolio/thesaurus") Thesaurus
        | &nbsp
        small 2014
      p.text-justify Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper arcu lectus, sit amet vulputate tortor vestibulum et. Nunc auctor semper consequat. Ut placerat sagittis erat, at commodo nisi molestie vitae. Fusce at diam non ligula mollis condimentum in eget enim. Nam at mattis ante. Donec non sem sagittis, consequat est ut, finibus turpis. Nulla dapibus lacus quis felis congue, id hendrerit ipsum sagittis. Nullam consectetur leo felis, feugiat consequat arcu mattis eu. Pellentesque commodo justo vel neque aliquet, a faucibus lacus egestas.
      p: a(href="/portfolio/thesaurus") En savoir plus
    article.col-md-4.text-center
      a(href="/portfolio/symfonyblog")
        img(src="http://placehold.it/350x350").img-responsive.center-block.center-block
      h3
        a(href="/portfolio/symfonyblog") Blog Symfony
        | &nbsp
        small 2014
      p.text-justify Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper arcu lectus, sit amet vulputate tortor vestibulum et. Nunc auctor semper consequat. Ut placerat sagittis erat, at commodo nisi molestie vitae. Fusce at diam non ligula mollis condimentum in eget enim. Nam at mattis ante. Donec non sem sagittis, consequat est ut, finibus turpis. Nulla dapibus lacus quis felis congue, id hendrerit ipsum sagittis. Nullam consectetur leo felis, feugiat consequat arcu mattis eu. Pellentesque commodo justo vel neque aliquet, a faucibus lacus egestas.
      p: a(href="/portfolio/symfonyblog") En savoir plus
    article.col-md-4.text-center
      a(href="/portfolio/opentaxepub")
        img(src="http://placehold.it/350x350").img-responsive.center-block
      h3
        a(href="/portfolio/opentaxepub") OpenTaxePub
        | &nbsp
        small 2012
      p.text-justify Développement d'une application PHP de calcul de taxe sur la publicité pour les panneaux d'affichage de la ville d'Arles à l'aide du Framework OpenMairie.
      p: a(href="/portfolio/opentaxepub") En savoir plus
