extends layout

block content
  main.row
    div.col-md-4.text-center
      div.thumbnail
        a(href="/portfolio/opentaxepub"): img(src="http://placehold.it/350x350").img-responsive
        div.caption
          a(href="/portfolio/opentaxepub"): h3 OpenTaxePub
          p.text-justify Développement d'une application PHP de calcul de taxe sur la publicité pour les panneaux d'affichage de la ville d'Arles à l'aide du Framework OpenMairie.
          a(href="/portfolio/opentaxepub") En savoir plus
    div.col-md-4.text-center
      div.thumbnail
        a(href="/portfolio/thesaurus"): img(src="http://placehold.it/350x350").img-responsive
        div.caption
          a(href="/portfolio/thesaurus"): h3 Thesaurus
          p.text-justify Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper arcu lectus, sit amet vulputate tortor vestibulum et. Nunc auctor semper consequat. Ut placerat sagittis erat, at commodo nisi molestie vitae. Fusce at diam non ligula mollis condimentum in eget enim. Nam at mattis ante. Donec non sem sagittis, consequat est ut, finibus turpis. Nulla dapibus lacus quis felis congue, id hendrerit ipsum sagittis. Nullam consectetur leo felis, feugiat consequat arcu mattis eu. Pellentesque commodo justo vel neque aliquet, a faucibus lacus egestas.
          a(href="/portfolio/thesaurus") En savoir plus
    div.col-md-4.text-center
      div.thumbnail
        a(href="/portfolio/diagarchi"): img(src="http://placehold.it/350x350").img-responsive
        div.caption
          a(href="/portfolio/diagarchi"): h3 DiagArchi
          p.text-justify Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper arcu lectus, sit amet vulputate tortor vestibulum et. Nunc auctor semper consequat. Ut placerat sagittis erat, at commodo nisi molestie vitae. Fusce at diam non ligula mollis condimentum in eget enim. Nam at mattis ante. Donec non sem sagittis, consequat est ut, finibus turpis. Nulla dapibus lacus quis felis congue, id hendrerit ipsum sagittis. Nullam consectetur leo felis, feugiat consequat arcu mattis eu. Pellentesque commodo justo vel neque aliquet, a faucibus lacus egestas.
          a(href="/portfolio/diagarchi") En savoir plus
  div.row
    div.col-md-4.text-center
      div.thumbnail
        a(href="/portfolio/opentaxepub"): img(src="http://placehold.it/350x350").img-responsive
        div.caption
          a(href="/portfolio/opentaxepub"): h3 OpenTaxePub
          p.text-justify Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper arcu lectus, sit amet vulputate tortor vestibulum et. Nunc auctor semper consequat. Ut placerat sagittis erat, at commodo nisi molestie vitae. Fusce at diam non ligula mollis condimentum in eget enim. Nam at mattis ante. Donec non sem sagittis, consequat est ut, finibus turpis. Nulla dapibus lacus quis felis congue, id hendrerit ipsum sagittis. Nullam consectetur leo felis, feugiat consequat arcu mattis eu. Pellentesque commodo justo vel neque aliquet, a faucibus lacus egestas.
          a(href="/portfolio/DiagArchi") En savoir plus
    div.col-md-4.text-center
      div.thumbnail
        a(href="/portfolio/opentaxepub"): img(src="http://placehold.it/350x350").img-responsive
        div.caption
          a(href="/portfolio/Thesaurus"): h3 Thesaurus
          p.text-justify Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper arcu lectus, sit amet vulputate tortor vestibulum et. Nunc auctor semper consequat. Ut placerat sagittis erat, at commodo nisi molestie vitae. Fusce at diam non ligula mollis condimentum in eget enim. Nam at mattis ante. Donec non sem sagittis, consequat est ut, finibus turpis. Nulla dapibus lacus quis felis congue, id hendrerit ipsum sagittis. Nullam consectetur leo felis, feugiat consequat arcu mattis eu. Pellentesque commodo justo vel neque aliquet, a faucibus lacus egestas.
          a(href="/portfolio/DiagArchi") En savoir plus
    div.col-md-4.text-center
      div.thumbnail
        a(href="/portfolio/opentaxepub"): img(src="http://placehold.it/350x350").img-responsive
        div.caption
          a(href="/portfolio/DiagArchi"): h3 DiagArchi
          p.text-justify Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper arcu lectus, sit amet vulputate tortor vestibulum et. Nunc auctor semper consequat. Ut placerat sagittis erat, at commodo nisi molestie vitae. Fusce at diam non ligula mollis condimentum in eget enim. Nam at mattis ante. Donec non sem sagittis, consequat est ut, finibus turpis. Nulla dapibus lacus quis felis congue, id hendrerit ipsum sagittis. Nullam consectetur leo felis, feugiat consequat arcu mattis eu. Pellentesque commodo justo vel neque aliquet, a faucibus lacus egestas.
          a(href="/portfolio/DiagArchi") En savoir plus
