extends layout

block content
  div.row
    h2.page-header OpenTaxePub
    div.col-md-4.text-center
      img(src="http://placehold.it/350x350").img-responsive
      span &nbsp
      img(src="http://placehold.it/350x350").img-responsive
    div.col-md-8
      dl.dl-horizontal
        dt Description du projet
        dd Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper arcu lectus, sit amet vulputate tortor vestibulum et. Nunc auctor semper consequat. Ut placerat sagittis erat, at commodo nisi molestie vitae. Fusce at diam non ligula mollis condimentum in eget enim. Nam at mattis ante. Donec non sem sagittis, consequat est ut, finibus turpis. Nulla dapibus lacus quis felis congue, id hendrerit ipsum sagittis. Nullam consectetur leo felis, feugiat consequat arcu mattis eu. Pellentesque commodo justo vel neque aliquet, a faucibus lacus egestas.
      dl.dl-horizontal
        dt Technologies utilisées
        dd PHP, Javascript, etc ...
      div.text-center
        a(href="http://www.openmairie.org/catalogue/opentaxepub/opentaxepub-gestion-des-taxes-sur-la-publicite").btn.btn-default Lien vers le projet
