extends layout

block content
  main.row
    h2.page-header Portfolio
    div.col-md-4.align-center
      div.thumbnail
        img(src="../images/opentaxepub.png" alt="OpenTaxePub")
        div.caption
          a(href="/portfolio/opentaxepub"): h3 OpenTaxePub
          p Développement d'une application PHP de calcul de taxe sur la publicité pour les panneaux d'affichage de la ville d'Arles à l'aide du Framework OpenMairie.
    div.col-md-4.align-center
      div.thumbnail
        i.fa.fa-graduation-cap.big-icon
        div.caption
          a(href="/portfolio/Thesaurus"): h3 Thesaurus
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper arcu lectus, sit amet vulputate tortor vestibulum et. Nunc auctor semper consequat. Ut placerat sagittis erat, at commodo nisi molestie vitae. Fusce at diam non ligula mollis condimentum in eget enim. Nam at mattis ante. Donec non sem sagittis, consequat est ut, finibus turpis. Nulla dapibus lacus quis felis congue, id hendrerit ipsum sagittis. Nullam consectetur leo felis, feugiat consequat arcu mattis eu. Pellentesque commodo justo vel neque aliquet, a faucibus lacus egestas.
    div.col-md-4.align-center
      div.thumbnail
        i.fa.fa-terminal.big-icon
        div.caption
          a(href="/portfolio/DiagArchi"): h3 DiagArchi
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper arcu lectus, sit amet vulputate tortor vestibulum et. Nunc auctor semper consequat. Ut placerat sagittis erat, at commodo nisi molestie vitae. Fusce at diam non ligula mollis condimentum in eget enim. Nam at mattis ante. Donec non sem sagittis, consequat est ut, finibus turpis. Nulla dapibus lacus quis felis congue, id hendrerit ipsum sagittis. Nullam consectetur leo felis, feugiat consequat arcu mattis eu. Pellentesque commodo justo vel neque aliquet, a faucibus lacus egestas.
  div.row
    div.col-md-4.align-center
      div.thumbnail
        i.fa.fa-folder.big-icon
        div.caption
          a(href="/portfolio/opentaxepub"): h3 OpenTaxePub
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper arcu lectus, sit amet vulputate tortor vestibulum et. Nunc auctor semper consequat. Ut placerat sagittis erat, at commodo nisi molestie vitae. Fusce at diam non ligula mollis condimentum in eget enim. Nam at mattis ante. Donec non sem sagittis, consequat est ut, finibus turpis. Nulla dapibus lacus quis felis congue, id hendrerit ipsum sagittis. Nullam consectetur leo felis, feugiat consequat arcu mattis eu. Pellentesque commodo justo vel neque aliquet, a faucibus lacus egestas.
    div.col-md-4.align-center
      div.thumbnail
        i.fa.fa-graduation-cap.big-icon
        div.caption
          a(href="/portfolio/Thesaurus"): h3 Thesaurus
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper arcu lectus, sit amet vulputate tortor vestibulum et. Nunc auctor semper consequat. Ut placerat sagittis erat, at commodo nisi molestie vitae. Fusce at diam non ligula mollis condimentum in eget enim. Nam at mattis ante. Donec non sem sagittis, consequat est ut, finibus turpis. Nulla dapibus lacus quis felis congue, id hendrerit ipsum sagittis. Nullam consectetur leo felis, feugiat consequat arcu mattis eu. Pellentesque commodo justo vel neque aliquet, a faucibus lacus egestas.
    div.col-md-4.align-center
      div.thumbnail
        i.fa.fa-terminal.big-icon
        div.caption
          a(href="/portfolio/DiagArchi"): h3 DiagArchi
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper arcu lectus, sit amet vulputate tortor vestibulum et. Nunc auctor semper consequat. Ut placerat sagittis erat, at commodo nisi molestie vitae. Fusce at diam non ligula mollis condimentum in eget enim. Nam at mattis ante. Donec non sem sagittis, consequat est ut, finibus turpis. Nulla dapibus lacus quis felis congue, id hendrerit ipsum sagittis. Nullam consectetur leo felis, feugiat consequat arcu mattis eu. Pellentesque commodo justo vel neque aliquet, a faucibus lacus egestas.
                            
