extends layout

block content
  main.row
    h1.page-header Portfolio
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vel odio congue, consequat tellus et, scelerisque arcu. Nam tristique, neque cursus cursus vehicula, odio purus pellentesque felis, vel pulvinar velit leo vel dolor. Integer vel tempor est. Aliquam erat volutpat. Donec vitae tincidunt tortor, in porta risus. Phasellus vehicula est id metus tincidunt ultrices. Vivamus arcu ante, aliquam at purus eu, ultricies vulputate purus. Mauris quis viverra urna, id placerat odio. Aenean nec massa tincidunt quam scelerisque facilisis nec quis lorem. Aenean fermentum metus purus.
    p Donec sodales tempus felis, ut volutpat felis lacinia in. Nullam non vulputate lacus. Aliquam tellus tortor, molestie quis tempor quis, sodales et ex. Mauris tristique lacus nec porttitor rhoncus. Nulla facilisi. Donec vulputate erat mauris, ac efficitur tellus interdum id. Quisque interdum neque id neque luctus ultricies.
