extends layout

block content
  section
    div.row
      each project in projects
        article.col-md-4
          a(href="/portfolio/" + project.name)
            img(src=project.thumbnail).img-responsive.center-block.img-rounded.fade-effect.portfolio_thumbnail
          h3.text-center
            a(href="/portfolio/" + project.name) #{project.name}
          div.text-justify !{locals.marked(locals.trunc(project.description, 100))}
  //-
    section
    div.row
      article.col-md-4
        a(href="/portfolio/reactapp")
          img(src="http://placehold.it/350x300").img-responsive.center-block.img-rounded.fade-effect
        h3.text-center
          a(href="/portfolio/reactapp") React App
        p.text-justify Réalisation d'une application mobile native en HTML et Javascript pour le CIRAD permettant de diagnostiquer l'état des arbres.
      article.col-md-4
        a(href="/portfolio/html5gameengine")
          img(src="http://placehold.it/350x300").img-responsive.center-block.img-rounded.fade-effect
        h3.text-center
          a(href="/portfolio/html5gameengine") HTML5GameEngine
        p.text-justify Réalisation d'une application mobile native en HTML et Javascript pour le CIRAD permettant de diagnostiquer l'état des arbres.
      article.col-md-4
        a(href="/portfolio/diagarchi")
          img(src="http://placehold.it/350x300").img-responsive.center-block.img-rounded.fade-effect
        h3.text-center
          a(href="/portfolio/diagarchi") DiagArchi
        p.text-justify Réalisation d'une application mobile native en HTML et Javascript pour le CIRAD permettant de diagnostiquer l'état des arbres.
    div.row
      article.col-md-4
        a(href="/portfolio/thesaurus")
          img(src="http://placehold.it/350x300").img-responsive.center-block.img-rounded.fade-effect
        h3.text-center
          a(href="/portfolio/thesaurus") Thesaurus
        p.text-justify Un projet de Master 1 AIGLE visant à créer un thesaurus en en PHP et SQL en utilisant le modèle objet relationnel.
      article.col-md-4
        a(href="/portfolio/symfonyblog")
          img(src="http://placehold.it/350x300").img-responsive.center-block.center-block.img-rounded.fade-effect
        h3.text-center
          a(href="/portfolio/symfonyblog") Blog Symfony
        p.text-justify Un simple blog réalisé à l'aide du Framework PHP Symfony 2.
      article.col-md-4
        a(href="/portfolio/opentaxepub")
          img(src="http://placehold.it/350x300").img-responsive.center-block.img-rounded.fade-effect
        h3.text-center
          a(href="/portfolio/opentaxepub") OpenTaxePub
        p.text-justify Développement d'une application PHP de calcul de taxe sur la publicité pour les panneaux d'affichage de la ville d'Arles à l'aide du Framework OpenMairie.
