body {
  /*background-image: url("../images/classy_fabric.png");
  background-color: rgb(40,41,43);*/
  background-color: #FFFFFF;
  /*color: rgb(112, 168, 60);*/
  color: #000000;
  font-family: 'Open Sans', sans-serif;
}

a {
  /*color: rgb(112, 168, 60);*/
  color: #000000;
}

a:focus, a:hover {
  /*color: rgb(87, 143, 35);*/
  color: #000000;
}

.big-icon {
  font-size: 192px;
}

.align-center {
  text-align: center;
}

.fontawesome-pad-left {
  padding-left: 15px;
}

.top-buffer {
  margin-top: 20px;
}

header {
  margin-bottom: 50px;
}

footer {
  margin-top: 80px;
}
