body {
  /*background-image: url("../images/classy_fabric.png");*/
  /*background-color: rgb(40,41,43);*/
  background-color: #FFFFFF;
  /*color: rgb(112, 168, 60);*/
  color: #000000;
  font-family: 'Open Sans', sans-serif;
}

header {
  margin-bottom: 50px;
}

header a:hover, header a:focus {
  text-decoration: none;
}

footer {
  margin-top: 50px;
}

a, a:hover, a:focus {
  color: #000000;
  /*color: rgb(112, 168, 60);*/
}

.big-icon {
  font-size: 192px;
}

.color-fade {
  /*color: rgb(112, 168, 60);*/
  transition: color 0.5s ease;
}

.color-fade:hover {
  /*color: rgb(87, 143, 35);*/
  color: #666666;
  /*color: rgb(87, 143, 35);*/
}

.fontawesome-pad-left {
  padding-left: 15px;
}

.top-buffer {
  margin-top: 20px;
}

.i-padding-right {
  padding-right: 5px;
}

@media print {
  a[href]:after {
    content: none !important;
  }

  .social-links {
    display: none;
  }

  footer {
    display: none;
  }
}
