extends ../layout

block content
  section.row
    h2.page-header DiagArchi
      | &nbsp
      small Avril 2014 - Juin 2014
    div.col-md-4.col-sm-4
      img(src="http://placehold.it/350x350").img-responsive.center-block
      span &nbsp
      img(src="http://placehold.it/350x350").img-responsive.center-block
    div.col-md-8.col-sm-8
      dl.dl-horizontal
        dt Description du projet
        dd Le diagnostic architectural nomade est ...
      dl.dl-horizontal
        dt Technologies utilisées
        dd: ul
          li HTML
          li Javacript
          li Angular
          li Phonegap
      div(role="alert").alert.alert-danger
        span Lien vers le projet indisponible car interne au CIRAD.
