extends ../layout

block content
  section.row
    h2.page-header Blog Symfony
      | &nbsp
      small 2014
    div.col-md-4.col-sm-4
      img(src="http://placehold.it/350x350").img-responsive.center-block
      span &nbsp
      img(src="http://placehold.it/350x350").img-responsive.center-block
    div.col-md-8.col-sm-8
      dl.dl-horizontal
        dt Description du projet
        dd Once Upon a Blog est un projet de master visant a développer un blog en PHP en utilisant le Framework Symfony 2
      dl.dl-horizontal
        dt Technologies utilisées
        dd PHP, Symfony 2 etc ...
      div.text-center
        a(href="http://www.openmairie.org/catalogue/opentaxepub/opentaxepub-gestion-des-taxes-sur-la-publicite").btn.btn-default Lien vers le projet
